.friends {
    margin-top: 30px;
}

.friends__title {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.friends > .item {
    margin-bottom: 10px;
}

.friends__list {
    display: flex;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.friend:not(:last-child) {
    margin-right: 10px;
}

.avatar {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    object-fit: cover;
}