.nav {
    padding: 10px 0 15px 15px;
    grid-area: sidebar;
    background-color: #F1F3F4;
}

.link{
    color: darkgrey;
    text-decoration: none;
    font-size: 20px;
}

.active{
    color: gold;
}

.item:not(:last-child) {
    margin-bottom: 3px;
}

.item:last-child {
    margin-top: 30px;
}