.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul > li {
  list-style-type: none;
}

.app-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          'h h'
          'sidebar main';
  width: 1200px;
}

.header {
  grid-area: h;
  background-color: #323FA6;
}

.header__logo {
  width: 80px;
}

.nav {
  grid-area: sidebar;
  background-color: #F1F3F4;
}

.main {
  grid-area: main;
}

.main__banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.main__descr-img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}